--##Better HUD example config file##
------------------------------------
-- This example moves the statbars in the down left and down right corners. By Echoes91

-- NOTICE --
-- if damage is disabled no statbar is shown at all
-- Make sure that the statbars are shown correct on other screen resolutions aswell


HUD_SB_SIZE = {x = 24, y = 24}		-- statbar icon size in pixel before (!) scaling

--
-- health bar
--
HUD_HEALTH_POS = {x = 0, y = 1}         	-- min 0, max 1
HUD_HEALTH_OFFSET = {x = 10, y = -30}		-- offset in pixel

--
-- hunger bar
--
HUD_HUNGER_POS = {x = 1, y = 1}         	-- min 0, max 1
HUD_HUNGER_OFFSET = {x = -250, y = -30}		-- offset in pixel

--
-- breath bar
--
HUD_AIR_POS = {x = 1, y = 1}			-- min 0, max 1
HUD_AIR_OFFSET = {x = -250, y = -60}		-- offset in pixel

--
-- armor bar
--
HUD_ARMOR_POS = {x = 0, y = 1}			-- min 0, max 1
HUD_ARMOR_OFFSET = {x = 10, y = -60}		-- offset in pixel

